In [1]:
import pandas as pd

In [2]:
import warnings 
warnings.filterwarnings("ignore")

In [3]:
data=pd.read_csv('/Users/lucky/Downloads/tesla.csv')

In [4]:
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,29-06-2010,19.000000,25.000000,17.540001,23.889999,23.889999,18766300
1,30-06-2010,25.790001,30.420000,23.299999,23.830000,23.830000,17187100
2,01-07-2010,25.000000,25.920000,20.270000,21.959999,21.959999,8218800
3,02-07-2010,23.000000,23.100000,18.709999,19.200001,19.200001,5139800
4,06-07-2010,20.000000,20.000000,15.830000,16.110001,16.110001,6866900
...,...,...,...,...,...,...,...
2188,11-03-2019,283.519989,291.279999,280.500000,290.920013,290.920013,7392300
2189,12-03-2019,286.489990,288.070007,281.059998,283.359985,283.359985,7504100
2190,13-03-2019,283.899994,291.989990,282.700012,288.959991,288.959991,6844700
2191,14-03-2019,292.450012,295.390015,288.290009,289.959991,289.959991,7074200
2192,15-03-2019,283.510010,283.723999,274.399994,275.429993,275.429993,14758243

In [5]:
data.describe()

,Open,High,Low,Close,Adj Close,Volume
count,2193.000000,2193.000000,2193.000000,2193.000000,2193.000000,2.193000e+03
mean,175.652882,178.710262,172.412075,175.648555,175.648555,5.077449e+06
std,115.580903,117.370092,113.654794,115.580771,115.580771,4.545398e+06
min,16.139999,16.629999,14.980000,15.800000,15.800000,1.185000e+05
25%,33.110001,33.910000,32.459999,33.160000,33.160000,1.577800e+06
50%,204.990005,208.160004,201.669998,204.990005,204.990005,4.171700e+06
75%,262.000000,265.329987,256.209991,261.739990,261.739990,6.885600e+06
max,386.690002,389.609985,379.350006,385.000000,385.000000,3.716390e+07

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2193 entries, 0 to 2192
Data columns (total 7 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Date       2193 non-null   object
 1   Open       2193 non-null   float64
 2   High       2193 non-null   float64
 3   Low        2193 non-null   float64
 4   Close      2193 non-null   float64
 5   Adj Close  2193 non-null   float64
 6   Volume     2193 non-null   int64
dtypes: float64(5), int64(1), object(1)
memory usage: 120.1+ KB

In [7]:
data.isna().sum()

Date         0
Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [8]:
data1=pd.get_dummies(data,dtype=int)

In [9]:
data1

,Open,High,Low,Close,Adj Close,Volume,Date_01-02-2011,Date_01-02-2012,Date_01-02-2013,Date_01-02-2016,...,Date_31-10-2014,Date_31-10-2016,Date_31-10-2017,Date_31-10-2018,Date_31-12-2010,Date_31-12-2012,Date_31-12-2013,Date_31-12-2014,Date_31-12-2015,Date_31-12-2018
0,19.000000,25.000000,17.540001,23.889999,23.889999,18766300,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25.790001,30.420000,23.299999,23.830000,23.830000,17187100,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,25.000000,25.920000,20.270000,21.959999,21.959999,8218800,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23.000000,23.100000,18.709999,19.200001,19.200001,5139800,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20.000000,20.000000,15.830000,16.110001,16.110001,6866900,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2188,283.519989,291.279999,280.500000,290.920013,290.920013,7392300,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2189,286.489990,288.070007,281.059998,283.359985,283.359985,7504100,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2190,283.899994,291.989990,282.700012,288.959991,288.959991,6844700,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2191,292.450012,295.390015,288.290009,289.959991,289.959991,7074200,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2192,283.510010,283.723999,274.399994,275.429993,275.429993,14758243,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
y=data1['Close']

In [11]:
y

0        23.889999
1        23.830000
2        21.959999
3        19.200001
4        16.110001
           ...
2188    290.920013
2189    283.359985
2190    288.959991
2191    289.959991
2192    275.429993
Name: Close, Length: 2193, dtype: float64

In [12]:
x=data1.drop('Close',axis=1)

In [13]:
x

,Open,High,Low,Adj Close,Volume,Date_01-02-2011,Date_01-02-2012,Date_01-02-2013,Date_01-02-2016,Date_01-02-2017,...,Date_31-10-2014,Date_31-10-2016,Date_31-10-2017,Date_31-10-2018,Date_31-12-2010,Date_31-12-2012,Date_31-12-2013,Date_31-12-2014,Date_31-12-2015,Date_31-12-2018
0,19.000000,25.000000,17.540001,23.889999,18766300,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,25.790001,30.420000,23.299999,23.830000,17187100,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,25.000000,25.920000,20.270000,21.959999,8218800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23.000000,23.100000,18.709999,19.200001,5139800,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,20.000000,20.000000,15.830000,16.110001,6866900,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2188,283.519989,291.279999,280.500000,290.920013,7392300,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2189,286.489990,288.070007,281.059998,283.359985,7504100,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2190,283.899994,291.989990,282.700012,288.959991,6844700,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2191,292.450012,295.390015,288.290009,289.959991,7074200,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2192,283.510010,283.723999,274.399994,275.429993,14758243,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.33,random_state=35)

In [16]:
x_train.shape

(1469, 2198)

In [17]:
y_train.shape

(1469,)

In [18]:
from sklearn.linear_model import LinearRegression

In [19]:
reg=LinearRegression()

In [20]:
reg.fit(x_train,y_train)

LinearRegression()

In [21]:
ypred=reg.predict(x_test)

In [22]:
ypred

array([121.58028575,  27.37999079, 332.97110184, 192.18017756,
       251.82052718, 212.37028987,  37.84998813, 218.35990465,
        24.70997637, 370.82991819, 137.59980456, 145.71970258,
       210.62012106,  32.9099861 , 233.97999162,  28.5200466 ,
       176.80960433,  50.18984681, 343.75023611, 348.17028377,
        35.18999172, 135.45005361, 225.26049404, 362.37044999,
        30.88000705,  33.78004043, 279.06958263, 204.19051146,
       160.69999042, 159.93994836, 206.34017947, 344.99062534,
       247.36957594, 347.0900654 ,  30.98997068, 196.12031098,
        26.66995108, 266.77056293,  55.51024276, 262.07989252,
       210.23994758,  34.77004534, 115.24014648,  32.24006998,
       355.90018209,  24.59011049, 307.53963315, 322.68992312,
        37.88999661,  28.25002623, 216.22047008, 122.74014077,
       204.04006819, 250.41033074, 312.88889359,  39.10000656,
       227.06010904,  27.76999165,  31.26999238, 205.39972064,
        26.44002372, 213.02923469,  37.94025196,  38.47003532,
       230.42987278,  28.63997588, 200.09986878, 363.05975545,
       251.07982479, 229.29987499, 323.40999832,  23.82003127,
        28.55001844, 305.6407249 , 191.93021533,  31.50994635,
        28.17008435, 276.81991128, 121.11011255,  30.060093  ,
       223.24003775,  15.79994576,  28.24996539,  29.45001964,
       250.02011622, 291.1296698 ,  22.79020592, 342.51978288,
       249.06074348,  28.33003933,  28.37000753, 244.51994489,
       248.00102111,  28.62000435,  27.62001772, 224.60964938,
        26.22001452,  33.86998726, 230.60943069,  41.36990221,
       251.86047428,  27.55000491, 340.36982738, 359.700683  ,
       216.29028178, 327.21950898,  20.98999111, 328.90955629,
       193.90896457,  29.07001371,  23.72998544,  26.81999812,
       307.19035718, 352.55032532,  23.04002386, 279.71990546,
       355.01020497,  20.45000928, 236.91023678,  21.82996071,
       188.33960983, 196.93939625, 194.93999893, 246.22952404,
        28.24002511, 382.60961939, 369.80013807, 284.96005325,
        21.83996819,  94.47015013, 174.41980453, 255.71018267,
        51.20008055, 283.36000756,  33.63990707, 351.56080614,
       173.31003753, 204.46969783,  34.97995501, 294.13964559,
       237.36989438,  27.66993577, 227.19937399, 290.91947982,
       230.2598058 , 300.07956469, 182.84002501, 248.7499727 ,
       193.36991354, 265.42000617,  33.60995132,  29.93998029,
       341.8401813 , 230.0102637 ,  20.54000612,  33.71003325,
       203.52063673, 300.99000965,  59.49983033, 208.4500519 ,
       309.58031327,  20.72000587, 216.96991986,  30.31999105,
       231.60953004,  26.68990791, 215.20935806,  24.00998115,
       335.45028309, 203.69984131,  27.97995225, 203.60043274,
       229.00992228, 256.87922206, 137.8000436 , 129.89976012,
        31.66003914, 188.06998055, 190.78996875, 306.08927463,
       215.25979701,  21.9499507 , 224.78010285, 166.36992743,
       285.49948603,  36.98004901,  21.4101198 ,  30.80994338,
       204.98963808, 252.94957024, 238.92998681, 166.23004877,
        27.12005562, 335.09991298, 137.99981814, 208.92002276,
        27.0700319 , 344.27989338, 261.05957005,  20.55000862,
        29.21999569, 360.74953321, 255.46973987, 137.36015005,
       247.14026904,  31.82997642, 199.44978374, 216.60985373,
        27.24990861, 181.10973656, 250.5607792 , 347.35992782,
       258.67960437, 253.74948858, 214.4398664 ,  24.38990462,
       189.69914102, 297.43007878,  37.3299884 ,  19.69998852,
        27.87998449, 329.90030101, 181.88015526, 261.50022383,
       326.63045497, 126.9396331 , 215.20017335, 263.24970435,
       225.3301381 , 277.38960099,  17.05003923, 338.68961665,
        35.35996127, 218.63963138,  26.80994293,  28.60015057,
        69.40010912,  31.03996105, 203.34028108, 242.51039544,
       325.60003979, 217.64982203,  29.50999962, 252.139521  ,
       383.45006577, 356.88024553, 204.69997675, 214.30985365,
       218.87043943, 262.55002932, 221.80056207,  30.55003332,
       215.47025968, 204.7198763 ,  29.47992655, 247.73999649,
       181.47013606, 209.60035096, 308.34961975, 319.76980049,
       218.25026675, 120.84024866, 279.43957857, 216.78001187,
       307.50981818,  34.40996009, 248.43042857, 206.17929394,
        35.95990694, 107.36007701, 231.9599484 ,  18.79002971,
       229.86966376, 370.34147869, 210.90972516, 219.5302113 ,
       101.48992184,  24.07993928, 263.23962338,  24.00002897,
       301.15063806, 229.7000481 ,  20.23997684,  29.300031  ,
        34.52998834, 240.01042102, 300.24980809, 237.74976535,
        35.08003428, 204.25013533,  94.84012446, 259.56986872,
        34.39999293, 337.03019543,  20.53997211, 195.73953699,
       333.1310903 , 255.20985722, 369.99964406, 269.20019585,
       237.59013492,  28.40996762,  36.11001074, 333.86946118,
        25.05997128, 204.66017871,  24.25994132,  25.96000127,
       251.32982155,  28.15004942, 175.19968088, 190.15991635,
        23.25002665, 207.99023344, 226.35027762, 166.77001876,
       246.21028446, 215.14988365, 287.58968061, 269.1500918 ,
       261.74015166, 310.1702243 ,  45.59000547,  29.84005176,
        33.11000534, 222.62010261,  27.61998618, 366.48032196,
       219.46018863,  27.42001349,  32.57995496, 188.65981121,
       124.17035805,  19.93998941, 212.94029832, 316.09166823,
       222.56060016,  33.90006167, 201.72004037, 203.78011758,
       281.82988875, 347.46010746, 313.25969411, 203.56012723,
       342.84935573,  21.04999826, 208.29064819,  30.29998444,
       139.65021398, 171.54029452, 222.26989504,  30.99007669,
        22.72998132, 200.09000256, 200.77056904,  29.35992071,
       300.36017194,  19.2000319 , 291.72004707, 207.85977646,
        29.24997411, 317.01011718,  27.96995416, 298.7000533 ,
       230.47001835, 207.52091613, 151.12012545,  30.09019464,
       218.25979321, 308.70018462, 218.55020819,  37.50992882,
        37.86000734, 254.52982778, 202.43965567, 363.80026953,
        30.40996989,  19.87002651,  19.89991145,  31.32997161,
       345.10043439,  19.59001336, 302.55985109,  83.24056701,
        27.32996325,  33.81005485, 190.41015213,  21.12000078,
       208.17006166,  39.24006991, 290.24078882, 291.23050085,
       299.01969316, 218.33961416,  28.55001154,  33.68995475,
       122.26983391, 352.7696649 ,  51.01022495, 217.70033442,
       335.07010552,  32.6999446 , 325.13973373, 240.19975228,
       256.77969561,  31.56003433,  20.46002703, 308.73988308,
       228.89009357, 220.96997167,  24.62995689, 222.59991191,
       262.15922815,  32.46007424, 265.64972987, 341.99872764,
        29.16004257, 350.59974869, 199.37014534, 219.61019056,
       259.94066356, 355.48954133,  26.34993012,  28.05994517,
       202.54971108, 298.51947223, 334.95940953,  34.38002663,
        29.2899983 ,  24.23989638, 210.93988606,  97.0799427 ,
       226.24977833, 276.53964676, 174.60035723, 195.32023745,
       227.01036875, 365.71055009, 317.54996983,  28.29006027,
       335.07094346,  29.48998646, 208.44997035,  38.45003809,
        43.75015882, 241.92991007,  38.03006546, 325.26032541,
       253.88051573, 181.44984051,  36.01011575, 242.76978155,
       254.84007   , 317.8095941 , 245.57015787,  19.02999174,
       310.55009008, 181.49951953, 203.77002878, 299.67978366,
       305.79913668, 205.19940298, 333.68973867,  24.09992401,
       355.39997709, 347.25959668, 174.73037492,  25.74999022,
       315.38043774,  28.69003702, 183.3901944 , 193.64033536,
        29.60000869, 301.06013587, 153.48028654, 253.00041516,
        26.98996167, 260.31047607, 296.84057022, 197.72990669,
       280.73991613,  97.76033985, 331.52977094,  34.93995817,
       183.92987374, 218.95981281, 231.2798904 , 207.83011617,
        28.75998195, 233.39008801,  23.86995145, 190.05981041,
       261.38010727,  89.94006786, 207.19024875, 345.24966174,
       213.68999275, 246.65058353, 213.78993536,  32.25012961,
       172.92994835,  24.11999656, 342.7709139 , 139.67030074,
        76.760408  , 337.64036238, 284.44992238,  22.9399959 ,
       262.50986868,  31.48999331, 218.60025068,  18.77996612,
        31.49990646,  27.94004047, 150.47124122, 217.74982893,
        31.38001428, 208.71975542,  28.69996093,  28.89001212,
       219.58017894, 193.55965202, 305.02073745,  36.08994369,
       305.71954218, 359.65012686, 221.08965591,  34.86997098,
       352.85014817,  37.53008432,  29.65995541, 261.92010917,
        20.09996491,  31.83996579, 251.41951597,  87.24039962,
       147.3795318 , 219.55983457, 354.30995545,  28.38999367,
        29.24999991, 204.46002373,  26.37998993, 226.98980297,
        23.88998902,  25.58005177,  33.90008314, 277.85000911,
       340.97047956, 231.55076274, 183.94044898, 328.39992561,
       137.94979885, 380.65987959, 225.11970056,  29.94998666,
       362.75034875, 303.19912001, 373.91032966,  30.80004306,
        34.39994761, 294.84049403,  24.7501068 , 312.39005042,
       266.78983625,  31.48996751, 233.27042976,  32.73998101,
       290.16970604, 332.29935041,  33.25997457, 230.46036318,
        20.21995153, 225.60994544, 170.97003701,  99.54988416,
        27.73999381,  23.07001401, 207.34053321, 320.87007984,
       207.19011831, 251.56978327, 196.61008861, 372.24011884,
       202.7600101 ,  38.15993791, 191.20007639, 335.49089455,
       144.90023043, 343.06060858, 306.84980881,  27.54009967,
       222.41036364,  33.0700461 ,  26.77003141, 334.77044961,
       325.21948015, 193.20969129,  33.34995901, 334.40023051,
        27.96992576, 361.61021731, 344.57087611, 341.34960668,
        28.81000514,  34.42998554,  36.58011052,  33.93001468,
       191.55982944, 321.89992731, 259.78986763, 341.39896642,
       329.09981171, 224.59009868, 225.79016434, 225.01025939,
       256.75946216, 379.56973221,  27.90996703,  20.05002298,
       333.3005764 ,  20.71997231,  28.28001695,  33.99996966,
       219.30937909, 147.5302201 ,  26.5000534 , 202.48983759,
       217.02032015, 252.51001907, 375.94966726, 299.91993435,
       280.98082257,  38.29994631,  25.27001598, 194.47017755,
       231.77018316, 348.05030344,  41.83004287,  21.3999629 ,
        28.95994585,  36.85006038, 266.12939671,  28.14004448,
        28.34996878, 201.710146  , 237.18983023, 331.10039883,
       335.11927404, 333.35019078, 230.97003902, 229.35994342,
       316.5306853 , 191.00025835, 151.41045426,  31.33993101,
        29.43010035, 343.40014469,  22.88004088,  19.15000313,
       278.84980222, 251.93028602, 295.45985773, 218.43003721,
       301.43984966, 248.12997025,  35.10001982, 211.72028283,
        31.0998753 , 147.6504994 , 305.59980616,  28.94005981,
        19.56003457, 357.97188202, 214.9297321 , 246.95043049,
       248.34980415,  87.5899379 , 244.81030868,  21.2600008 ,
       265.41040005, 178.55982276, 205.81001437, 289.96026937,
        32.46995336, 347.31938318, 329.51973169,  28.52997643,
        35.28995714,  38.54006378, 278.48032765,  26.61993278,
        32.04998823, 142.00016945, 164.13044433, 341.02973691,
       351.09102225, 248.99005867,  28.10999221, 249.09992885,
       152.44025409,  35.29003696,  28.52998896, 200.95023043,
        95.36974347, 207.31979677,  20.23001243,  28.43002674,
       193.7402655 , 215.4595434 ,  33.81002112, 314.61956461,
       299.30074125,  27.91002564,  30.19001015, 248.4800221 ,
       249.13994309,  21.87003976, 352.93013171,  31.75009061,
       222.23017384, 222.6602052 ,  39.12001811,  53.99036011])

In [23]:
from sklearn.metrics import r2_score

In [24]:
r2_score(ypred,y_test)

0.9999999999925526

In [25]:
from sklearn.metrics import mean_squared_error

In [26]:
mean_squared_error(ypred,y_test)

1.0285781112522463e-07

In [27]:
corr=data1.corr()

In [28]:
corr

,Open,High,Low,Close,Adj Close,Volume,Date_01-02-2011,Date_01-02-2012,Date_01-02-2013,Date_01-02-2016,...,Date_31-10-2014,Date_31-10-2016,Date_31-10-2017,Date_31-10-2018,Date_31-12-2010,Date_31-12-2012,Date_31-12-2013,Date_31-12-2014,Date_31-12-2015,Date_31-12-2018
Open,1.000000,0.999578,0.999566,0.999054,0.999054,0.457938,-0.027974,-0.027094,-0.025412,0.002423,...,0.012358,0.004961,0.026723,0.028999,-0.027556,-0.026368,-0.004313,0.008768,0.011618,0.029969
High,0.999578,1.000000,0.999490,0.999631,0.999631,0.466999,-0.028028,-0.027123,-0.025521,0.003788,...,0.011724,0.004328,0.027893,0.029722,-0.027569,-0.026346,-0.004643,0.008549,0.011784,0.029214
Low,0.999566,0.999490,1.000000,0.999580,0.999580,0.448387,-0.027984,-0.026957,-0.025337,0.001943,...,0.012470,0.004398,0.027776,0.029453,-0.027427,-0.026205,-0.004465,0.009368,0.012398,0.028731
Close,0.999054,0.999631,0.999580,1.000000,1.000000,0.458157,-0.028047,-0.026999,-0.025387,0.003935,...,0.012209,0.004082,0.028813,0.029883,-0.027544,-0.026206,-0.004661,0.008643,0.011896,0.029048
Adj Close,0.999054,0.999631,0.999580,1.000000,1.000000,0.458157,-0.028047,-0.026999,-0.025387,0.003935,...,0.012209,0.004082,0.028813,0.029883,-0.027544,-0.026206,-0.004661,0.008643,0.011896,0.029048
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Date_31-12-2012,-0.026368,-0.026346,-0.026205,-0.026206,-0.026206,-0.021068,-0.000456,-0.000456,-0.000456,-0.000456,...,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,1.000000,-0.000456,-0.000456,-0.000456,-0.000456
Date_31-12-2013,-0.004313,-0.004643,-0.004465,-0.004661,-0.004661,-0.003831,-0.000456,-0.000456,-0.000456,-0.000456,...,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,1.000000,-0.000456,-0.000456,-0.000456
Date_31-12-2014,0.008768,0.008549,0.009368,0.008643,0.008643,-0.012574,-0.000456,-0.000456,-0.000456,-0.000456,...,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,1.000000,-0.000456,-0.000456
Date_31-12-2015,0.011618,0.011784,0.012398,0.011896,0.011896,-0.011104,-0.000456,-0.000456,-0.000456,-0.000456,...,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,1.000000,-0.000456
Date_31-12-2018,0.029969,0.029214,0.028731,0.029048,0.029048,0.005757,-0.000456,-0.000456,-0.000456,-0.000456,...,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,-0.000456,1.000000

In [29]:
import seaborn as sns

In [ ]:
sns.heatmap(corr,vmax=1,vmin=-1,annot=True,linewidth=-5,cmap='Greens')